.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem 0;
}

.navbar a {
    color: #472d41;
    font-size: 1rem;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}